@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700&display=swap');

*, h1 {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F5F7FB;
    background: url('./yellow-blob.svg') no-repeat, url('./blue-blob.svg') no-repeat;
    background-position: top 0 right 0, bottom 0 left 0;
}

/* fonts  */

h1 {
    font-family: 'Karla', sans-serif;
}

.quiz-description {
    font-family: 'Inter', sans-serif;
}

/* main styling */

.main-container {
    display: flex;
    justify-content: center;
}

main {
    height: 100vh;
    color: #293264;
    max-width: 500px;
    margin: 40px 0 40px 0;
}

 /* start component */

.start-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-container h1 {
    padding: 7px;
}

.start-container button {
    border: none;
    background: #4D5B9E;
    color: white;
    padding: 15px 50px;
    border-radius: 15px;
    margin: 30px;
}

/* question component */

.question {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

.option {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    background: transparent;
    border: 1px solid #293264;
    color: #293264;
    margin: 12px 12px 2px 0;
    border-radius: 8px;
    padding: 5px 10px;
}

.trivia-item {
    margin: 15px 0;
    border-bottom: 1px solid #DBDEF0;
    padding-bottom: 15px;
}
/* button component */

.red {
    background-color: red;
}

footer button  {
    color: #F5F7FB;
    background: #4D5B9E;
    border-radius: 10px;
    font-size: 10px;
    border: none;
    padding: 10px 20px;
}

footer {
    text-align: center;
}

.final-score {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.final-score p {
    font-family: 'Inter', sans-serif;
    color: #293264;
    font-size: 13px;
    font-weight: 700;
}

.trivia-options {
    display: inline;
}
